.tab-setting .ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: center !important;
}

.tab-setting .ant-tabs-nav .ant-tabs-nav-wrap:hover {
  color: black;
}
.tab-setting .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
  color: black;
}
.tab-setting
  .ant-tabs-nav
  .ant-tabs-nav-list
  .ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: black;
}
.tab-setting .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-ink-bar-animated {
  background: black;
}
/* ============================================================= */

.propterHelpCls .propterRowCls .propertyColCls .propertyImgCls {
  /* padding: 35px 45px; */
  padding: 5% 20%;
}

.propterHelpCls .propterRowCls .propertyColCls .homeCardLink {
  color: orangered;
  font-size: 11px;
}
.propterHelpCls .propterRowCls {
  margin-top: 5%;
}

.propterRowCls .propertyColCls .propterHelpMetaCls .ant-card-meta-title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.propterHelpCls .propterRowCls {
  width: 100%;
  /* transform: translate(13%, 0%); */
  transform: translate(15%, 0%);
}

.propterHelpCls .propterRowCls .propterHelpMetaCls .ant-card-meta-description {
  font-size: 10px;
}

.propterCardLinkCls {
  transform: translate(25%, 5%);
  margin-top: 10%;
}

/* ================================================================ */
.videoClass {
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: gray;
  width: 100%;
  padding-top: 16%;
}

.videoClass .videoBtnCls {
  background-color: white;
  margin: 0 auto;
  transform: translate(-50%, -140%);
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
}

.topContentCls {
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  padding-top: 13%;
}

/* ============================================================================= */

.aminitiesCls .aminitieColCls {
  padding-left: 15px;
  padding-right: 30px;
}
.aminitiesCls .aminitieColCls .aminitiBtnCls {
  top: -18px;
  position: relative;
  left: 43%;
}
.aminitiesCls .aminitieRowcls1 .aminitieColCls .aminiteImgCls {
  padding: 10px 30px;
}
.aminitiesCls .aminitieRowcls1 {
  margin-top: 5%;
}
.aminitiesCls .aminitieRowcls1 .aminitieColCls .aminitieMetaCls {
  text-align: center;
}

/* ========================================================= */

.realStateCls {
  margin-bottom: 40px;
}
.realStateRow {
  margin-top: 7%;
}
.realStateCls .realStateRow .realStateColCls .realStateCardCls {
  background-color: rgb(38 36 36/88%);
  color: white;
  /* height: 40vh; */
  width: 330px;
  display: flex;
  box-shadow: none;
  border-radius: 5px;
  padding-top: 70%;
  padding-left: 5%;
}
.realStateCls .realStateRow .realStateColCls .realStateCardCls1 {
  background-color: rgb(38 36 36/90%);
  color: white;
  /* height: 40vh; */
  width: 330px;
  display: flex;
  box-shadow: none;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 4%;
}

.realStateCls .realStateRow .realStateColCls .realStateCardCls .firstCardBtn {
  margin-top: 0px;
  border: solid;
  margin-left: 91px;
  border-width: 2px 4px;
  border-radius: 40px;
  border-color: white;
  font-size: 12px;
}

.realStateCls
  .realStateRow
  .realStateColCls
  .realStateCardCls
  .firstCardBtn:hover {
  color: black;
}
.realStateCls
  .realStateRow
  .realStateColCls
  .realStateCardCls1
  .firstCardBtn:hover {
  color: black;
}
.realStateCls .realStateRow .realStateColCls .realStateCardCls1 .firstCardBtn {
  margin-top: 0px;
  border: solid;
  margin-left: 91px;
  border-width: 2px 4px;
  border-radius: 40px;
  border-color: white;
  font-size: 12px;
}

.realStateCls .realStateRow .realStateColCls .realStateCardCls .spanCls {
  font-size: 10px;
}

.realStateCls .realStateRow .realStateColCls .realStateCardCls1 .spanCls {
  font-size: 10px;
}

.textCls .h3Cls {
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
}
/* ------------------------------------------------------------- -------------------------------------------*/
.footerListItem {
  color: white;
  margin-left: -20px;
}
.footerLayout .footMainRow .gutter-row .footerListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 24px;
  color: rgba(0, 0, 0, 0.88);
}
.footerLayout .footMainRow {
  padding-top: 13%;
  padding-bottom: 5%;
}

/* ======================================================================================== */

.arroDownCls {
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
}

/* ============================================================================================ */
.footerCls {
  display: flex;
  justify-content: space-around;
}







.leftMenuCls .leftMenuItem .link.active{
  color: orangered;
}
.leftMenuCls .leftMenuItem .ant-menu-item-selected::after{
  border-bottom: none;
  border-bottom-color: none;
}



body {
  overflow-x: hidden;
}
.menuBar {
  padding: 10px 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
}
.logo {
  /* width: 150px; */
  float: left;
  margin-top: 8px;
}
.logo .logoCls {
  width: none;
}
.logo .searchCls {
  margin-left: 40px;
  width: 250px;
}

.logo .searchCls .ant-input-wrapper, .logo .searchCls .ant-input-affix-wrapper, .logo .searchCls .ant-input-affix-wrapper input, .logo .searchCls button {
  border: none !important;
  background: aliceblue !important;
  box-shadow: none;
}
.logo a {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  font-family: system-ui;
  padding: 5px 5px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
}
.menuCon {
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item {
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
  border-bottom: none;
  float: right;
}
.menuCon .leftMenu {
  float: none;
  display: inline-block;
}
.menuCon .rightMenu {
  float: right;
  width:16%
}
.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after {
  top: auto;
  bottom: -6px;
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.ant-menu-overflow-item.ant-menu-overflow-item-rest.ant-menu-submenu.ant-menu-submenu-horizontal {
  display: none !important;
}

.menuCon {
  text-align: center;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }
  .leftMenu,
  .rightMenu {
    display: none;
  }
  .logo a {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  }
  .ant-menu-overflow-item.ant-menu-overflow-item-rest.ant-menu-submenu.ant-menu-submenu-horizontal {
    display: none !important;
  }
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item {
    opacity: 1 !important;
    visibility: visible !important;
    position: static !important;
    height: auto !important;
    /* width: auto; */
    display: block;
  }
  ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
    flex-wrap: wrap;
  }
  .menuCon .leftMenu {
    display: none;
  }
}
.logo .searchCls .ant-input-wrapper, .logo .searchCls .ant-input-affix-wrapper, .logo .searchCls .ant-input-affix-wrapper input, .logo .searchCls button {
  border: none !important;
  background: aliceblue !important;
  box-shadow: none;
}
nav.menuBar.adminlogin{
  margin-left: 200px;
}
.ant-layout-sider-children.adminsidebar {
  position: relative;
  top: -14%;
}
