$slide-count: 5;
$slide-width: 30rem;

.carousel__wrap {
    margin-top: 0%;
    align-items: center;
    display: contents;
    flex: 1;
    justify-content: center;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__inner {
    height: 22rem;
    position: relative;
    // width: calc(#{$slide-width * 1});
}

.carousel__container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide-list {
    height: 200px;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 300px;
}

.carousel__slide-item {
    display: inline-block;
    height: $slide-width;
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width: $slide-width;
}

.carousel__slide-item-img-link {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        transition: all 0.5s ease;
        width: 100%;
   
    }

}

.carousel-slide-item__body {
    bottom: -2.5rem;
    height: 10%;
    position: absolute;
}

.carousel__btn {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
        left: -10rem;
    }

    &--next {
        right: -10rem;
    }
}

.carousel__btn-arrow {
    border: solid black;
    border-width: 0 0.4rem 0.4rem 0;
    height: 6rem;
    padding: 3px;
    width: 6rem;
    z-index: 10;

    &--left {
        transform: rotate(135deg);
    }

    &--right {
        transform: rotate(-45deg);
    }
}

.carousel__dots {
    display: inline-block;
    left: 50%;
    // margin-top: 2rem;
    position: absolute;
    transform: translateX(-50%);

    .dot {
        background: #ff5a3c;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 1rem;
        // margin: 0 0.3rem;
        outline: none;
        transform: scale(0.5);
        width: 1rem;

        &.active {
            background: #ff5a3c;
        }
    }
}
li.carousel__slide-item {
    display: contents !important;
}
h6.fonthead {
    font-size: 15px;
}
.popularProperty h5 {
    font-size: 16px;
}
.videothumb {
    display: none;
}