.userProfile {
  margin-top: 5%;
  margin-bottom: 5%;
}

.userProfile .userProHeadingCls {
  margin-top: 1%;
}

.userProfile .userProfilImg {
  transform: translate(45%, 0%);
  margin-left: -10%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}
.userProfile .userProfilImg .imageTagClass{
    position: absolute;
    cursor: pointer;
    left: 80px;
    width: 250px;
    /* height: 250px; */
    opacity: 0;
    top: 60px;
}

.userProfile .userProFormCls .userFormLableCls {
  font-weight: bold;
}

.inputButton {
  cursor: pointer;
  color: #fff;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #2096db;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 29px;
  margin-left: 29px;
}
/* ================================================================================= */
.favoriteCls{
    margin-bottom: 10rem;
}


.favoriteCls .favoritesHeading {
  margin-top: 5%;
  margin-bottom: 3%;
}

.favoriteCls .favRow{
  justify-content: center;
  transform: translate(-20px, 10px);
  margin-top: 10px;
}

.favoriteCls .favRow .col1 .col1Card{
  width: 250;
  border-radius: 0px;
}

.favoriteCls .favRow .col2{
  width: 25%;
    margin-left: 5%;
}

.favoriteCls .favRow .col3{
  width: 25%;
    margin-left: 5%;
}

.favoriteCls .favRow .col3 .tourBtn{
  width: 100%;
    border-radius: 0px;
}

.favoriteCls .favRow .col3 .removeCls{
  margin-top: 5%;
  margin-left: 35%;
  color: red;
  font-weight: bold;
}
.favoriteCls .favRow .col3 .removeIconCls{
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.dividerCls{
  background: darkgray;
  width: 75%;
  transform: translate(12%, 10px);
  min-width: 0%;
}

/* .favoriteCls .favoritesHeading {
  margin-top: 3%;
  margin-bottom: 3%;
}

.favoriteCls .favoritsListCls .favoriteReqBtnCls {
  border-radius: 0px;
  width: 75%;
  transform: translate(50%, 0%);
  margin-top: 25%;


  border-radius: 0px;
  width: 100%;
  transform: translate(25%, 0%);
  margin-top: 25%;
}

.favoriteCls .favoritsListCls .favoritCloseIconCls {
  transform: translate(60%, 0);
  margin-top: 10%;
  color: red;
  font-weight: 800;
}

.dividerCls{
    margin-top: 10px;
    margin-bottom: 20px;
    background: darkgray;
    width: 75%;
    transform: translate(12%, 10px);
    min-width: 0%;
}
.userHeaderCls .userMenuCls .ant-menu-item-active{ 
  border-width: 2px;
  border-bottom-color: black;
  font-weight: 800;
} */

/* ======================================================================================== */
.userLayoutCls .userHeaderCls{
  background: white;

}
/* .userLayoutCls .userHeaderCls .userMenuCls .userMenuItem{
  font-weight: 500;
} */
.userLayoutCls .userHeaderCls .userMenuCls{
  border: none;
  /* transform: translate(5%,0%); */
}
.userLayoutCls .userHeaderCls .userMenuCls .ant-menu-item-selected{
  color: black;
  border-bottom-color:black;
  font-weight: 800;
}

.userLayoutCls .userHeaderCls .userMenuCls .ant-menu-item-selected::after{
  border-width: 2px;
  border-bottom-color: black;
}

.userLayoutCls .userHeaderCls .userMenuCls .ant-menu-item:hover::after{
  border-width: 2px;
  border-bottom-color: black;
}


.userLayoutCls .userHeaderCls .userMenuCls .aa.active::after{
  font-weight: 800;
  border-bottom: 2px solid black;
}


.userLayoutCls .userHeaderCls .userMenuCls .aa.active{
  font-weight: 800;
  
}

